<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>File Upload Example xxx</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <div class="container">
    <h1 class="title">File Upload Example xxx</h1>
    <form method="post" enctype="multipart/form-data">
      <div class="file-input">
        <input type="file" name="file">
      </div>
      <button type="submit" class="btn">Upload</button>
    </form>
    {% if result %}
    <div class="output">
      <p>处理结果：</p>
      <pre>{{ result }}</pre>
    </div>
    {% endif %}
  </div>
</body>
</html>
